solution*.*
goal*.*
solution*/
goal*/
example*.*
example*/
demo*.*
demo*/
node_modules/
credentials.*
keys.*
queries.sql
.env

*/node_modules/
*/dist/
*/.cache/
*/package-lock.json
node_modules
.DS_Store
dist
dist-ssr
*.local